<!DOCTYPE html>
<html lang=en>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% include 'snippets/css.html' %}
{% include 'snippets/js.html' %}
{% block content_calendar %}{% endblock content_calendar %}
</head>

<body>

{% include 'snippets/nav.html' %}
<div class="wrapper">
  <div class='container'>

  {% block content_sidebar%} {% endblock content_sidebar %}
  {% block content %}{% endblock content %}
  </div>
</div>


{% block javascript %}

{% endblock %}

</body>
</html>
