{% extends "base.html" %}

{% block content_calendar %}
  {%include "snippets/v.html"%}

{% endblock content_calendar %}

{%block content_sidebar%}

      <nav id="sidebar">
            <!-- Sidebar Header -->
            <div class="sidebar-header">
                <h3>{{username}}</h3>
            </div>

            <!-- Sidebar Links -->
            <ul class="list-unstyled components">
                <li class="active"><a href="/profile">Home</a></li>
                <li><a href="/account">Account</a></li>

                <!-- Link with dropdown items -->
                  <li> <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Investments</a></li>

                    <ul class="collapse list-unstyled" id="homeSubmenu">
                    </ul>

                <li><a href="#">Contact</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href='/accounts/logout'>Logout</a></li>
            </ul>
        </nav>

<div id="content">

<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="glyphicon glyphicon-align-justify" style= "height:100px"></i>
            <span> Menu </span>
        </button>
      </div>
  </nav>

  <p style = "padding: 20px"> hey </p>

    {% block content %}

    <!-- first half of funds -->
    <div class="row" style = "padding: 20px">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">REIT</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="funds/REIT" class="btn btn-primary">Invest </a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">BioTech</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="funds/BioTech" class="btn btn-primary">Invest </a>
      </div>
    </div>
  </div>
</div>
<!-- second half of funds -->
<div class="row" style = "padding: 20px">
<div class="col-sm-6">
<div class="card">
  <div class="card-block">
    <h3 class="card-title">Tech</h3>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="funds/Tech" class="btn btn-primary">Invest </a>
  </div>
</div>
</div>
<div class="col-sm-6">
<div class="card">
  <div class="card-block">
    <h3 class="card-title">Crypto</h3>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="funds/Crypto" class="btn btn-primary">Invest </a>
  </div>
</div>
</div>
</div>

    {% endblock content %}

</div>

{%endblock content_sidebar%}

{% block javascript %}
<script>
$(document).ready(function(){

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });


// for (var key in contracts_for_sidebar) {
//   var counter = 1;
//   $('#homeSubmenu').append(
//       $('<li>').append(
//           $('<a>').attr('href','/'+String(key)).append(
//               $('<span>').attr('class', 'tab').append("Contract "+String(contracts_for_sidebar[key][0])+ ":" + String(contracts_for_sidebar[key][1]))
//
//   )));
// }

});
</script>
{% endblock %}
