{% extends 'base.html' %}

{% block content_calendar %}
  {%include "snippets/v.html"%}

{% endblock content_calendar %}
{% load crispy_forms_tags %}

{%block content_sidebar%}
{% include 'snippets/nav_sidebar.html' %}

<div id="content">

  <nav class="navbar navbar-inverse">
      <div class="navbar-header">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
              <i class="glyphicon glyphicon-align-justify" style= "height:100px"></i>
              <span> Menu </span>
          </button>
        </div>
    </nav>
{% block content %}
<div class = "fund_page">
<h2> Fund: <em>{{fund}}</em></h2>
<h2> NAV: <em>{{net_asset}}</em></h2>
<div class="card">
  <div class="card-block">
    <h3 class="card-title">Invest in {{fund}} Fund</h3>
    <div class = "wallet_images">
        <div id="REIT" style = "display: none">
          <img src="/static/reit.png" >
          <p>1Q896XxKRBdXL1kummXuApciMHpCKL95G9</p>
        </div>


        <div id="Tech" style = "display: none">
          <img src="/static/tech.png" >
          <p>15wgsZ1LiUz8RBJz1cAH97W7WaFrAG4VAn</p>
        </div>

        <div id="BioTech" style = "display: none">
          <img src="/static/biotech.png" >
          <p>17j7fhKb3nNkNFB4XFqz51skkVgkf589e3</p>
        </div>


        <div id="Crypto" style = "display: none">
          <img src="/static/crypto.png" >
          <p>1APNooa2dN42QWtv1CyhNULsccMVe9gyLt</p>
        </div>
      </div>
      <form method="post" action=''>
        {% csrf_token %}
        <div>
        {{ form |crispy }}
      </div>
      <input type="submit" value="Submit">
      </form>

  </div>
</div>

<canvas id="myChart" width="600" height="400"></canvas>

<canvas id="fundPerformance" width="600" height="400"></canvas>

</div>

</div>

{% endblock content %}
{%endblock%}

{% block javascript %}
<script>
$(document).ready(function(){
  // $('#wallet_images').hide();
  $('#{{fund}}').show();

  var ctx = document.getElementById("myChart").getContext('2d');
  var ctx2 = document.getElementById("fundPerformance").getContext('2d');
  var fundname = '/api/charts/%s'
  var endpoint = fundname.replace('%s', "{{fund}}")

  var labels = [];
  var fund_data = [];
  var labels2 = [];
  var fund_data2 = [];

  $.ajax({
      method: 'GET',
      url: endpoint,
      success: function(data){
        labels = data.labels;
        fund_data = data.fund_data;
        labels2 = data.labels2;
        fund_data2 = data.fund_data2;

        viewChart(labels, fund_data, ctx, 'bar', 'Balance')
        viewChart(labels2, fund_data2, ctx2, 'line', 'Performance')
      },
      error: function(error_data){

      }

  })

function viewChart(Labels, FundData, Context, Type, Label){
  var myChart = new Chart(Context, {
    responsive: true,
    type: Type,
    data: {
        labels: Labels,
        datasets: [{
            label: Label,
            data: FundData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
          }
      }
  });
}

    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });
});
</script>
{% endblock %}
